@{
    ViewBag.Title = "About";
}
<div class="allcontain">



    <img src="~/Resources/about.jpg" alt="about">

</div>
<div class="w3-container" id="about">
    <div class="w3-content" style="max-width:700px">
        <h2 class="w3-center w3-padding-64"><span class="w3-tag w3-wide">ABOUT US</span></h2>

        <p id="justify">
            WikiCarsInfo is a project of car information and car technical data. Information on technical car data contains engine specs, fuel consumption, economy, size dimensions and vehicle maintenance details, max speed, acceleration ant other. WikiCarsInfo information is collected from publicly available sources and is constantly updated. If you are searching car info specifications or technical automotive library, it is the best place to find answers about car guide. You are free to compare technical specifications of cars instant, you even are free to compare manufacturers on their technical car specifications. Car info are reliable and 100% newest as we can get.
        </p>
    </div>
</div>
